.logo {
  height: auto;
  width: 100px;
  display: block;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}

.nav_links {
  display: flex;
  align-items: center;
  padding-top: 0;
  gap: 150px;
}

#main_heading{
    white-space: nowrap;
    
}